<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803523925730-e4blql0p2gs8dnm7t4m3rjr3q3367o88.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803523925730-e4blql0p2gs8dnm7t4m3rjr3q3367o88</string>
	<key>API_KEY</key>
	<string>AIzaSyCEsjM2RvWTrWLrqr5TVmRzyer9ozLVSM4</string>
	<key>GCM_SENDER_ID</key>
	<string>803523925730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cac2020.exeroAI</string>
	<key>PROJECT_ID</key>
	<string>cac2020-dc3a0</string>
	<key>STORAGE_BUCKET</key>
	<string>cac2020-dc3a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803523925730:ios:1e66c2cb9c7c399fc130bb</string>
	<key>DATABASE_URL</key>
	<string>https://cac2020-dc3a0.firebaseio.com</string>
</dict>
</plist>